* {
    box-sizing: border-box;
    font-family: "Britannic Bold", fantasy;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainFrame {
    position: absolute;
    height: 100%;
    width: 100%;
}

#gameContainer {
    position: absolute;
    background: rgb(17, 17, 51);
    height: 100%;
    width: 100%;
}

#gameCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#menuContainer {
    display: none;
    position: absolute;
    background: dimgrey;
    height: 100%;
    width: 100%;
}